# Snowflake Connection
SNOWFLAKE_ACCOUNT=PQHYLYQ-WA35386
SNOWFLAKE_USER=ROOLDY2026
SNOWFLAKE_PASSWORD='$Alfonso1990@@##**$$'
SNOWFLAKE_WAREHOUSE=DBT_WH
SNOWFLAKE_DATABASE=DBT_ECOMMERCE
SNOWFLAKE_SCHEMA=ANALYTICS
SNOWFLAKE_ROLE=DBT_ROLE

# Optional: Performance Settings
SNOWFLAKE_QUERY_TIMEOUT=60
CACHE_TTL=3600